.catalog {
  padding-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and(min-width: 768px) {
  .catalog {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and(min-width: 1280px) {
  .catalog {
    padding-top: 120px;
    width: 1280px;
  }
}

@media screen and(max-width: 767px) {
  .catalog-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(min-width: 768px) {
  .catalog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and(min-width: 1280px) {
  .catalog-container {
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
  }
}

.catalog-pagination-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .catalog-pagination-style {
    margin-top: 16px;
    gap: 16px;
  }
}

.page-number {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .page-number {
    width: 40px;
    height: 40px;
  }
}

.page-number:hover {
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
}

.catalog-pagination-link {
  font-size: 14px;
  line-height: 1;
  color: #b7b7b7;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .catalog-pagination-link {
    padding: 10px;
  }
}

.catalog-pagination-link:hover {
  color: black;
  border: none;
}

.page-number.active {
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
  border: none;
  color: white;
}

.catalog-pagination-link.active {
  color: white;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}
