.container-n {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px) {
    .container-n {
        width:768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width:1280px) {
    .container-n {
        width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hero-main {
    background: linear-gradient(86.77deg, #111111 0.38%, rgba(249, 245, 245, 0) 65.61%), url(../images/hero-tablet-bg-fix3x.jpg);
    background-repeat: no-repeat;
    // background-position: 80px 0;
    background-size: cover;
    
}

.hero-title-static {
    font-weight: 700;
    display: block;
font-size: 32px;
line-height: 1.18;
width: 199px;
padding-top: 40px;
}
.hero-text-static {
    margin-top: 8px;
    font-weight: 400;
font-size: 14px;
line-height: 1.14;
width: 166px;

}

.hero-text-static.long {
    display: none;
}

.hero-link-static {
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
border-radius: 74px;
margin-bottom: 80px;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #111111;  
text-decoration: none;
display: block;
cursor: pointer;
}

.hero-link-static:hover {
    color: rgb(255, 179, 38);
    background: transparent;
    border: 1px solid rgb(255, 179, 38) ;
    padding: 11px 23px;
}



.hero-btn-static {
    margin-top: 20px;
    padding: 12px 24px;
    border: 1px solid transparent;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
border-radius: 74px;
margin-bottom: 80px;
font-weight: 500;
font-size: 12px;
line-height: 14px;
cursor: pointer;

}

.hero-btn-static:hover {
    color: rgb(255, 179, 38);
    background: transparent;
    border: 1px solid rgb(255, 179, 38) ;
    padding: 11px 23px;
}

.pb-hr-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-btn-static-sec{
    background: transparent;
    color:#FFFFFF;
    border: 1px solid rgb(255, 179, 38);
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 74px;
    font-size: 12px;
line-height: 14px;
margin-left: 8px;
cursor: pointer;
}


.hero-btn-static-sec:hover {
color:rgb(255, 179, 38) ;
}

.hero-text-film {
    margin-top: 20px;
    font-weight: 400;
font-size: 14px;
line-height: 1.14;
width: 177px;
margin-bottom: 0;
}

.hero-title-film {
    font-weight: 700;
    display: block;
font-size: 32px;
line-height: 1.18;
width: 199px;
padding-top: 40px;
margin-bottom: 12px;
margin-top: 0;
}

.you-tube-iframe {
    width: 100%;
    height: 100%;
    
}

.modal-fail-box {
    display:flex;
    justify-content: space-between;
}

.modal-fail-text {
    font-weight: 400;
font-size: 10px;
line-height: 28px;
color: #FFFFFF;
padding-left: 14%;
}

.modal-fail-img {
    width: 50%;
}

@media screen and (min-width:768px) {
    .hero-main {
        background: linear-gradient(86.77deg, #111111 35.38%, rgba(249, 245, 245, 0) 65.61%), url(../images/hero-tablet-bg-fix3x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80px 0;
    }
    
    .hero-title-film {
        font-weight: 700;
    display: block;
font-size: 44px;
line-height: 1.18;
width: 265px;
padding-top: 36px;
margin-bottom: 12px;
    }
    .hero-text-film {
        margin-top: 20px;
        font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    width: 295px;
    margin-bottom: 0;
    }
    .hero-btn-static{
        margin-top: 28px;
    padding: 12px 24px;
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
border-radius: 74px;
margin-bottom: 100px;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
    }

    .hero-link-static {
        margin-top: 28px;
        padding: 12px 24px;
        border: none;
        background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    }

    .hero-btn-static-sec{
        margin-top: 20px;
        font-size: 14px;
    line-height: 1.4;
    margin-top: 28px;
    margin-bottom: 100px;
    
    }

    .hero-title-static {
        font-size: 44px;
        width: 332px;
        padding-top: 62px;
    }

.hero-text-static {
    display: none;
}

    .hero-text-static.long{
display: inline-block;
width: 357px;
    }

    .modal-fail-text {
        font-size: 16px;
    }

}

@media screen and (min-width:1280px){
    .hero-main {
        background: linear-gradient(86.77deg, #111111 35.38%, rgba(249, 245, 245, 0) 65.61%), url(../images/hero-desc-bg-fix3x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .film-box-hero {
        margin-left: 134px;
    }
    .hero-title-film {
        font-weight: 700;
    display: block;
font-size: 64px;
line-height: 1.18;
width: 400px;
padding-top: 118px;
margin-bottom: 12px;
    }
    .hero-text-film {
        margin-top: 28px;
        font-weight: 400;
    font-size: 16px;
    line-height: 1.14;
    width: 367px;
    margin-bottom: 0;
    }

    .hero-link-static {
        margin-top: 36px;
        padding: 12px 24px;
        border: none;
        background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    margin-bottom: 239px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    }

    .hero-btn-static{
        margin-top: 36px;
    padding: 12px 24px;
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
border-radius: 74px;
margin-bottom: 239px;
font-weight: 500;
font-size: 16px;
line-height: 1.4;
    }

    .hero-btn-static-sec{
        margin-top: 36px;
        font-size: 16px;
    line-height: 1.4;
    margin-top: 28px;
    margin-bottom: 239px;
    
    }

    .hero-title-static {
        font-size: 64px;
        width: 332px;
        padding-top: 169px;
    }

    .hero-text-static.long {
        width: 464px;
        font-size: 16px;
        margin-top: 16px;
    }

    .modal-fail-text {
        font-size: 24px;
    }

}

// Зірочки

.rating {
    display:flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
}
.rating-body {
    position: relative;
}

.rating-body::before {
    content: '☆☆☆☆☆' ;
    display: block;
    color: rgba(248, 122, 25, 0.68);
}

.rating-active {
    position: absolute;
    width: 50%;
    height: 120%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-active::before {
    content: '★★★★★' ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   color: rgba(248, 122, 25, 0.68);
 

}
.rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.reting-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating-value {
  font-size: 50%;
  line-height: 1;
  padding-left: 10px;
}

@media screen and (min-width:768px) {
    .rating{
        font-size: 20px;
    }
}
