.library {
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and(min-width: 768px) {
  .library {
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and(min-width: 1280px) {
  .library {
    padding-top: 80px;
    width: 1280px;
  }
}

@media screen and(max-width: 767px) {
  .library-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(min-width: 768px) {
  .library-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and(min-width: 1280px) {
  .library-container {
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
  }
}

.library-container-item {
  margin-bottom: 16px;
}

.library-container-item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

@media screen and(min-width: 768px) {
  .library-container-item {
    max-width: calc((100% - 64px) / 3);
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 28px;
  }
  .library-container-item:nth-child(3n) {
    margin-right: 0px;
  }
}

.library-container-img {
  position: relative;
  width: 280px;
  height: 406px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .library-container-img {
    width: 224px;
    height: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .library-container-img {
    width: 394px;
    height: 574px;
  }
}

.library-container-about {
  position: absolute;
  left: 12px;
  bottom: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.65;

  color: #ffffff;
}

.rating-library {
  position: absolute;
  right: 12px;
  bottom: 16px;
}

.loadMoreStyle {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  border: none;

  color: #111111;
}

@media screen and (min-width: 768px) {
  .loadMoreStyle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 12px;
    margin-left: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .loadMoreStyle {
    font-size: 18px;
    line-height: 1.55;
    margin-left: 550px;
  }
}

.loadMoreStyle:hover {
  color: #ffffff;
  background: #000000;
  border: 1px solid #f87719;
  cursor: pointer;
}

.genre-contatiner {
  padding-left: 10px;
  padding-right: 10px;
}

.selectLibrary {
  width: 173px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  border-radius: 8px;

  background-color: inherit;
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .selectLibrary {
    width: 143px;
    height: 44px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .selectLibrary {
    width: 204px;
    height: 48px;
    margin-bottom: 47px;
  }
}

.optionSelect {
  padding-left: 20px;
  background-color: #1c1c1c;
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}

.optionSelect:hover {
  // background-color: orange;
}
