.library {
    padding-top: 96px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and(min-width: 768px) {
    .library {
        padding-top: 140px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and(min-width: 1280px) {
    .library {
        padding-top: 176px;
    }
}

.library-container {
    // margin-right: auto;
    // margin-left: auto;
}

@media screen and(min-width: 768px) {
    .library-container {
        display: flex;
        width: 768px;
        gap: 16px;
        margin-right: auto;
        margin-left: auto;
    }
}

.library-container-img {
    display: block;

    position: relative;
    width: 280px;
    height: 406px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .library-container-img {
        width: 224px;
        height: 325px;
    }
}

@media screen and (min-width: 1280px) {
    .library-container-img {
        width: 394px;
        height: 574px;
    }
}

.library-container-about {
    position: absolute;
    left: 12px;
    bottom: 12px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.65;

    color: #ffffff;
}

// .library-container {
//     position: relative;
// }

.rating-library {
    position: absolute;
    right: 12px;
    bottom: 16px;
}