.month {
    max-width: 320px;
    height: 1097px;
    margin-top: 32px;
}

.month-trend-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-transform: uppercase;
}

.month-picture {
    width: 280px;
    height: 402px;
    margin-right: auto;
    margin-left: auto;
}