ul {
  margin: 0;
  padding: 0;
}

p,
h3 {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
}

.weekly-trends-section {
  margin-bottom: 32px;
}

.weekly-trends-container {
  max-width: 320px;
}

.weekly-trends-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.weekly-trends-section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}

.weekly-trends-section-link {
  font-weight: 500;
  line-height: 1.19px;
  color: var(--text-color-three);
}

.weekly-trends-card {
  position: relative;
  color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.weekly-trends-film-img {
  display: block;
  width: 100%;
  height: 100%;
  color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  border-radius: 5px;
}

.film-info-poster {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 40%;
}

.weekly-trends-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b7b7b7;
}

.weekly-trends-film-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
}

.weekly-trends-film-rating {
  position: absolute;
  bottom: 16px;
  right: 12px;
}
