<div>
<section class="hero-main">
    <div class="container-n">
        <div class="basic-hero">
            <hi class="hero-title-static">Let’s Make Your Own Cinema</hi>
            <p class="hero-text-static">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. </p>
            <div class="pb-hr-box">
                <p class=" hero-text-static long">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</p>
                <div class=""><a class="hero-link-static link " href="./catalog.html">Get Started</a></div>
                <div class="hero-btn-static" style="display: none;" ></div>
            </div>
        </div>
        
        <!-- <div class="rating">
            <div class="rating-body">
                <div class="rating-active"></div>
                <div class="rating-items">
                    <input type="radio" class="reting-item" value="1" name="rating"></>
                    <input type="radio" class="reting-item" value="2" name="rating"></>
                    <input type="radio" class="reting-item" value="3" name="rating"></>
                    <input type="radio" class="reting-item" value="4" name="rating"></>
                    <input type="radio" class="reting-item" value="5" name="rating"></>
                </div>
            </div>
            <div class="rating-value">3.6</div>
        </div> -->
    </div>
    
    <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close"></span>
          
          <div class="modal-fail-box">
              <p class="modal-fail-text">OOPS...<br>
                We are very sorry!<br>
                But we couldn’t find the trailer.</p>
                <img class="modal-fail-img" src="./images/IMG_9881.png" alt="">
          </div>
        </div>
      </div>
</section>

</div>
