<div>
<section class="hero-main">
    <div class="container-n">
        <div class="basic-hero">
            <hi class="hero-title-static">Let’s Make Your Own Cinema</hi>
            <p class="hero-text-static">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. </p>
            <button class="hero-btn-static" type="button">Get Started</button>
        </div>
        <!-- <div class="rating">
            <div class="rating-body">
                <div class="rating-active"></div>
                <div class="rating-items">
                    <input type="radio" class="reting-item" value="1" name="rating"></>
                    <input type="radio" class="reting-item" value="2" name="rating"></>
                    <input type="radio" class="reting-item" value="3" name="rating"></>
                    <input type="radio" class="reting-item" value="4" name="rating"></>
                    <input type="radio" class="reting-item" value="5" name="rating"></>
                </div>
            </div>
            <div class="rating-value">3.6</div>
        </div> -->
    </div>
</section>
</div>