<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>

    <link rel="stylesheet" href="index.scss" />
    <script type="module" src="index.js"></script>
  </head>
  <div class="month">
    <h2 class="month-trend-title">UPCOMING THIS MONTH</h2>
    <div class="upcom-box upcom-js-list">
      <img src="" alt="" class="upcom-img" />
      <h3 class="upcom-movie-title"></h3>
      <div class="upcom-about-box">
        <p class="upcom-movie-subtitle">Release date</p>
        <p class="upcom-release-date"></p>
        <p class="upcom-movie-subtitle">Vote / Votes</p>
        <p class="upcom-vote"></p>
        <p class="upcom-movie-subtitle">Popularity</p>
        <p class="upcom-popularity"></p>
        <p class="upcom-movie-subtitle">Genre</p>
        <p class="upcom-genre"></p>
      </div>
      <p class="upcom-movie-subtitle">About</p>
      <p class="upcom-movie-about"></p>
    </div>
    <button class="upcom-btn">Add to my library</button>
  </div>
  <body></body>
</html>
