<div class="search-form-container">
  <form class="catalog-form catalog-form-style">
    <div class="input-icon">
      <input
        type="text"
        class="catalog-input catalog-input-style"
        name="catalogSearchQuery"
        autocomplete="off"
        placeholder="movie"
      />
      <img src="./images/x.svg" alt="" class="icon-search js-icon-close" />
    </div>
    <select name="select" id="js-search-select" class="selectYear">
      <option value="">Year</option>
    </select>
    <button type="submit" class="search-btn">
      <svg class="svg-search">
        <use href="./images/sprite.svg#icon-search-3"></use>
      </svg>
    </button>
  </form>
</div>
<div class="js-catalog-search"></div>
